@import url('https://use.fontawesome.com/releases/v5.7.1/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,400');
$noto: 'NOTO SANS KR';
$main-color: #0eb493;

body {
    margin: 0;
    padding: 0;
    font-family: $noto, sans-serif;
}

// 공개 전 삭제 요망
#main {
    // display: none;
}

// Begin Main
#main {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/main_background.png");
    background-size: cover;
    background-position: center;
    color: white;

    .top_left {
        position: absolute;
        top: 5%;
        left: 5%;

        img {
            width: 200px;
        }
    }

    .div {
        border: solid 1px white;
        width: 95%;
        height: 95%;
        position: absolute;
        top: 2.5%;
        right: 2.5%;
    }

    .top_right {
        position: absolute;
        top: 5%;
        right: 5%;

        ul {
            list-style: none;
            text-align: right;

            li {
                font-weight: 100;
                font-size: 2.73vw;
            }
        }

        @media screen and (min-width: 767px) {
            ul {
                li {
                    font-size: 20.96px;
                }
            }
        }
    }

    .bottom_left {
        position: absolute;
        bottom: 5%;
        left: 5%;

        h1 {
            font-size: 5vw;
            font-weight: 100;
        }

        @media screen and (min-width: 767px) {
            h1 {
                font-size: 38.40px !important;
            }
        }
    }
}

//Begin progress
#progress {
    //Begin Progress Bar
    .bar {
        width: 100%;
        height: 27px;
        border-radius: 15px;
        border: solid 3px #ddd;
        background: white;
        display: flex;

        .inner {
            border-radius: 15px;
            transition: .3s;
            background: linear-gradient(to right, #0C9A7E, #0FC19D);
        }

        .percent {
            width: 0;
            position: relative;
            left: 47.5%;
        }
    }

    .bar.reverse {
        border: solid 3px #ddd;
        background: #ddd;
    }

    // Gerenal Setting
    h2 {
        margin: 0 0 15px 0;
    }


    #donate, #project {
        // height: 100vh;
        padding: 25px 20px;

        ul {
            list-style: none;
            display: flex;
            padding: 0;
            margin: 15px 0 5px 0;

            li:not(:last-child) {
                margin-right: 15px;
            }
        }
    }

    #donate {
        a {
            text-decoration: none;
            border: solid 1px $main-color;
            border-radius: 25px;
            background-color: $main-color;
            color: white !important;
            margin-top: 5px;
            padding: 5px 15px;
        }

        a:hover {
            opacity: 0.7;
        }

        p {
            color: gray;
            line-height: 1.3em;
            margin: 7.5px 0 20px 0;
        }
    }

    #project {
        background-color: $main-color;
        color: white;

        p {
            margin: 5px 0;
        }
    }
}

// Begin Crew
#crew {
    padding: 25px 20px;

    h2 {
        margin: 0 0 15px 0;
    }
}
